@model PatSystem.UI.ViewModels.CRdetailsViewModel

@{
    ViewData["Title"] = "Detalhes";
}

@await Html.PartialAsync("~/Views/Curriculo/PartialViews/_MenuSuperior.cshtml")



<nav class="  p-1 mr-lg-5 ml-lg-5" style="background-color:orange">
    <h4 class="text-center">
        <b>
            Curriculo de @Html.DisplayFor(model => model.Curriculo.Cliente.Nome)
            <a class="float-lg-right" asp-action="Edit" asp-route-id="@Model.Curriculo.CurriculoID"><img src="~/Imgs/EditarCad.png" width="40" height="35" /></a>
        </b>
    </h4>
</nav>


<div class="row ml-lg-5 pt-5">
    <div class="col-3 ml-lg-4 mr-3 border-dark border-right">
        <h4>Informações Principais</h4>
    </div>
    <div class="col-8">
        <div>
            <dl class="row">
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.Nome)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.Nome)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.Idade)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.Idade)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.AreaAtuacao)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.AreaAtuacao)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.EnsinoMedio)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.EnsinoMedio)
                </dd>
            </dl>
        </div>
    </div>
</div>
<br>
<hr />

<div class="row ml-lg-5 pt-4">
    <div class="col-3 ml-lg-4 mr-3 border-dark border-right">
        <h4>Informações Para Contato</h4>
    </div>
    <div class="col-8">
        <div>
            <dl class="row">
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.Email)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.Email)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.TlMovel)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.TlMovel)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.TlFixo)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.TlFixo)
                </dd>
            </dl>
        </div>
    </div>
</div>
<br>
<hr />

<div class="row ml-lg-5 pt-4">
    <div class="col-3 ml-lg-4 mr-3 border-dark border-right">
        <h4>Endereço</h4>
    </div>
    <div class="col-8">
        <div>
            <dl class="row">
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.UF)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.UF)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.Bairro)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.Bairro)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.Rua)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.Rua)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.Numero)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.Numero)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => model.Cliente.Cidade)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => model.Cliente.Cidade)
                </dd>
            </dl>
        </div>
    </div>
</div>
<br>
<hr />

@foreach (var curso in Model.CursosTecnico)
{
    <div class="row ml-lg-5 pt-4">
        <div class="col-3 ml-lg-4 mr-3 border-dark border-right">
            <h4>Curso Tecnico</h4>
        </div>
        <div class="col-8">
            <div>
                <dl class="row">
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Modalidade)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Modalidade)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Nome)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Nome)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Instituicao)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Instituicao)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Tipo)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Tipo)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Status)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Status)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <br>
}
<hr />

@foreach (var curso in Model.CursosSuperior)
{
    <div class="row ml-lg-5 pt-4">
        <div class="col-3 ml-lg-4 mr-3 border-dark border-right">
            <h4>Curso Superior</h4>
        </div>
        <div class="col-8">
            <div>
                <dl class="row">
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Modalidade)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Modalidade)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Nome)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Nome)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Instituicao)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Instituicao)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Tipo)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Tipo)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemCurso => curso.Status)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemCurso => curso.Status)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <br>
}
<hr />

@foreach (var idioma in Model.Idiomas)
{
    <div class="row ml-lg-5 pt-4">
        <div class="col-3 ml-lg-4 mr-3 border-dark border-right">
            <h4>Curso de Idioma</h4>
        </div>
        <div class="col-8">
            <div>
                <dl class="row">
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemIdioma => idioma.Nome)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemIdioma => idioma.Nome)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemIdioma => idioma.Instituicao)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemIdioma => idioma.Instituicao)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemIdioma => idioma.NivelFluencia)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemIdioma => idioma.NivelFluencia)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(itemIdioma => idioma.AnosCursados)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(itemIdioma => idioma.AnosCursados)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <br>
}
<hr />

@foreach (var experiencia in Model.Experiencias)
{
    <div class="row ml-lg-5 pt-4">
        <div class="col-3 ml-lg-4 mr-3 border-dark border-right">
            <h4>Experiencia de trabalho</h4>
        </div>
        <div class="col-8">
            <div>
                <dl class="row">
                    <dt class="col-3">
                        @Html.DisplayNameFor(model => experiencia.NomeEmpresa)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(model => experiencia.NomeEmpresa)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(model => experiencia.UltimoCargo)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(model => experiencia.UltimoCargo)
                    </dd>
                    <dt class="col-4 ">
                        @Html.DisplayNameFor(model => experiencia.Anos)
                    </dt>
                    <dd class="col-8">
                        @Html.DisplayFor(model => experiencia.Anos)
                    </dd>
                    <dt class="col-3">
                        @Html.DisplayNameFor(model => experiencia.Descricao)
                    </dt>
                    <dd class="col-9">
                        @Html.DisplayFor(model => experiencia.Descricao)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <br>
}


<nav class="nav justify-content-md-center p-1 mr-lg-5 ml-lg-5" style="background-color:orange">
    <a class="btn btn-info mr-2" asp-action="Index">Voltar</a>
    <a class="btn btn-success mr-2" asp-action="Edit" asp-route-id="@Model.Curriculo.CurriculoID">Editar</a>
    <a class="btn btn-danger mr-2" asp-action="Remove" asp-route-id="@Model.Curriculo.CurriculoID">Remover</a>
</nav>

